* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.car {
	width: 360px;
	height: 250px;
	max-width: 100%;
	background: url(#) center no-repeat;
	background-size: cover, contain, cover;
}

.flower {
	max-width: 100%;
	object-fit: cover;
}